<p id="notice"><%= notice %></p>

<p>
  <strong>Diagram:</strong>
  <%= @task.diagram %>
</p>

<p>
  <strong>Xml:</strong>
  <%= @task.xml_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @task.category %>
</p>

<p>
  <strong>Content:</strong>
  <%= @task.content %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>Assignee:</strong>
  <%= @task.assignee %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
