<%= form_with(model: diagram, local: true) do |form| %>
  <% if diagram.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(diagram.errors.count, "error") %> prohibited this diagram from being saved:</h2>

      <ul>
      <% diagram.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :diagram_name %>
  </div>

  <div class="field">
    <%= form.label :file %>
    <%= form.text_field :file, id: :diagram_file %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, id: :diagram_image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
