<%= form_with(model: lane, local: true) do |form| %>
  <% if lane.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lane.errors.count, "error") %> prohibited this lane from being saved:</h2>

      <ul>
      <% lane.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :lane_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
